### Exercise #1

After you develop your code to play Addition War and perform descriptive analysis using NumPy functionality (as in Homework #2), you realize that it's a bit inefficient to store all of the results in separate arrays. Let's utilize pandas to store and analyze the results of our simulated gameplay.

a. Before doing so, let's begin with some updates to your play function (corrected, or taken from the Homework #2 solutions, once provided; you will also need to make use of your deal function, but no changes will be needed):

- Add the capability to track the number of ties for each game. In this total, you should include not only the ties that occur at the beginning of a round, but any additional ties that occur during a tie breaker.

In [3]:
import numpy as np
import pandas as pd

In [4]:
def deal() :
    arr = np.array(list(range(1,14)) * 4)
    np.random.shuffle(arr)
    return (list(arr[::2]), list(arr[1::2]))

In [53]:
def play() :
    
    k = deal()
    P1 = k[0]
    P2 = k[1]
    
    init_total_P1 = sum(P1)
    init_total_P2 = sum(P2)
    
    X1= list(zip(P1[::2], P1[1::2]))
    X2= list(zip(P2[::2], P2[1::2]))
    P1_new = []
    P2_new = []
    tie = []
    
    tie_rounds = 0
    

    for i in range(len(X1)):
        h1 = X1[i]
        h2 = X2[i]
        s1 = sum(h1)
        s2 = sum(h2)
        a1, a2 = h1
        b1, b2 = h2
        if s1 > s2 :
            P1_new.extend([a1,a2,b1,b2])
            if len(tie) > 0 :
                P1_new.extend(tie)
                tie = []
        elif s2 > s1 :
            P2_new.extend([a1,a2,b1,b2])
            if len(tie) > 0 :
                P2_new.extend(tie)
                tie = []
        elif s1 == s2 :
            tie.extend([a1,b1,a2,b2])
            tie_rounds += 1
            if i == len(X1)-1 :
                P1_new.extend(tie[::2])
                P2_new.extend(tie[1::2])  
                
    final_total_P1 = sum(P1_new)
    final_total_P2 = sum(P2_new)
        
    return {'Player 1 Initial' : init_total_P1, 'Player 2 Initial' : init_total_P2, 'Player 1 Final' : final_total_P1, 
            'Player 2 Final' : final_total_P2, 'Number of tie rounds' : tie_rounds}

In [54]:
play()

{'Player 1 Initial': 194,
 'Player 2 Initial': 170,
 'Player 1 Final': 287,
 'Player 2 Final': 77,
 'Number of tie rounds': 1}

- Add the capability to track the largest total won during a round in a given game, which could occur in a standard round (with no ties) or a tiebreaker round (with one or more ties). You do not need to distinguish whether the total was won in a standard or tiebreaker round.

In [55]:
def play() :
    
    k = deal()
    P1 = k[0]
    P2 = k[1]
    
    init_total_P1 = sum(P1)
    init_total_P2 = sum(P2)
    
    X1= list(zip(P1[::2], P1[1::2]))
    X2= list(zip(P2[::2], P2[1::2]))
    P1_new = []
    P2_new = []
    tie = []
    
    tie_rounds = 0
    largest_round_total = 0
    

    for i in range(len(X1)):
        h1 = X1[i]
        h2 = X2[i]
        s1 = sum(h1)
        s2 = sum(h2)
        a1, a2 = h1
        b1, b2 = h2
        if s1 > s2 :
            P1_new.extend([a1,a2,b1,b2])
            if a1+a2+b1+b2 > largest_round_total :
                largest_round_total = a1+a2+b1+b2
            if len(tie) > 0 :
                P1_new.extend(tie)
                tie = []
                if sum(tie) > largest_round_total :
                    largest_round_total = sum(tie)
        elif s2 > s1 :
            P2_new.extend([a1,a2,b1,b2])
            if a1+a2+b1+b2 > largest_round_total :
                largest_round_total = a1+a2+b1+b2
            if len(tie) > 0 :
                P2_new.extend(tie)
                tie = []
                if sum(tie) > largest_round_total :
                    largest_round_total = sum(tie)
        elif s1 == s2 :
            tie.extend([a1,b1,a2,b2])
            if sum(tie) > largest_round_total :
                    largest_round_total = sum(tie)
            tie_rounds += 1
            if i == len(X1)-1 :
                P1_new.extend(tie[::2])
                P2_new.extend(tie[1::2])
                if sum(tie) > largest_round_total :
                    largest_round_total = sum(tie)
                
    final_total_P1 = sum(P1_new)
    final_total_P2 = sum(P2_new) 
        
    return {'Player 1 Initial' : init_total_P1, 'Player 2 Initial' : init_total_P2, 'Player 1 Final' : final_total_P1, 
            'Player 2 Final' : final_total_P2, 'Number of tie rounds' : tie_rounds, 
            'Largest Round Total' : largest_round_total}

In [56]:
play()

{'Player 1 Initial': 183,
 'Player 2 Initial': 181,
 'Player 1 Final': 218,
 'Player 2 Final': 146,
 'Number of tie rounds': 1,
 'Largest Round Total': 37}

- Add the capability to play multiple games within the function, using a new argument games (equals 1 by default). The function should track the following statistics for each game, stored in a dictionary (ideally as separate entries, which will facilitate next steps):
    - Initial totals (i.e., sum of card values for initially dealt hands) for player 1 and player 2, respectively
    - Number of ties during gameplay
    - Maximum round total won (i.e., maximum sum of card values won during a round, potentially including tiebreakers)
    - Final totals (i.e., sum of card values after completing gameplay) for player 1 and player 2, respectively
    
Note that you do not need to explicitly track the outcome of the game (i.e., who wins or loses, or whether there was a tie). This will be determined at a later step.

In [57]:
def play(games=1) :
    summary = {'Player 1 Initial' : [], 'Player 2 Initial' : [], 'Player 1 Final' : [], 
                'Player 2 Final' : [], 'Number of tie rounds' : [], 'Largest Round Total' : []}
    for z in range(games) :
        k = deal()
        P1 = k[0]
        P2 = k[1]

        init_total_P1 = sum(P1)
        init_total_P2 = sum(P2)

        X1= list(zip(P1[::2], P1[1::2]))
        X2= list(zip(P2[::2], P2[1::2]))
        P1_new = []
        P2_new = []
        tie = []

        tie_rounds = 0
        largest_round_total = 0


        for i in range(len(X1)):
            h1 = X1[i]
            h2 = X2[i]
            s1 = sum(h1)
            s2 = sum(h2)
            a1, a2 = h1
            b1, b2 = h2
            if s1 > s2 :
                P1_new.extend([a1,a2,b1,b2])
                if a1+a2+b1+b2 > largest_round_total :
                    largest_round_total = a1+a2+b1+b2
                if len(tie) > 0 :
                    P1_new.extend(tie)
                    tie = []
                    if sum(tie) > largest_round_total :
                        largest_round_total = sum(tie)
            elif s2 > s1 :
                P2_new.extend([a1,a2,b1,b2])
                if a1+a2+b1+b2 > largest_round_total :
                    largest_round_total = a1+a2+b1+b2
                if len(tie) > 0 :
                    P2_new.extend(tie)
                    tie = []
                    if sum(tie) > largest_round_total :
                        largest_round_total = sum(tie)
            elif s1 == s2 :
                tie.extend([a1,b1,a2,b2])
                if sum(tie) > largest_round_total :
                        largest_round_total = sum(tie)
                tie_rounds += 1
                if i == len(X1)-1 :
                    P1_new.extend(tie[::2])
                    P2_new.extend(tie[1::2])
                    if sum(tie) > largest_round_total :
                        largest_round_total = sum(tie)

        final_total_P1 = sum(P1_new)
        final_total_P2 = sum(P2_new)
        
        summary['Player 1 Initial'].append(init_total_P1)
        summary['Player 2 Initial'].append(init_total_P2)
        summary['Player 1 Final'].append(final_total_P1)
        summary['Player 2 Final'].append(final_total_P2)
        summary['Number of tie rounds'].append(tie_rounds)
        summary['Largest Round Total'].append( largest_round_total)

    return summary

Demonstrate the performance of your function for 1-game (games = 1) and 5-game samples (games = 5), and display the resultant dictionaries for each case.

In [58]:
play(games=1)

{'Player 1 Initial': [189],
 'Player 2 Initial': [175],
 'Player 1 Final': [221],
 'Player 2 Final': [143],
 'Number of tie rounds': [1],
 'Largest Round Total': [48]}

In [59]:
play(games=5)

{'Player 1 Initial': [201, 163, 193, 197, 168],
 'Player 2 Initial': [163, 201, 171, 167, 196],
 'Player 1 Final': [281, 81, 279, 225, 47],
 'Player 2 Final': [83, 283, 85, 139, 317],
 'Number of tie rounds': [1, 2, 2, 1, 1],
 'Largest Round Total': [42, 42, 39, 40, 36]}

b. (1 point) Simulate 1000 games and store your results in a pandas DataFrame. Preview the first and last 10 rows of your results as proof of a successful run.

In [60]:
df = pd.DataFrame(play(1000))
df.head(10)

,Player 1 Initial,Player 2 Initial,Player 1 Final,Player 2 Final,Number of tie rounds,Largest Round Total
0,200,164,276,88,1,42
1,179,185,184,180,1,41
2,183,181,137,227,1,42
3,189,175,218,146,1,38
4,188,176,250,114,0,38
5,161,203,78,286,1,43
6,168,196,101,263,0,37
7,180,184,191,173,1,37
8,170,194,170,194,1,41
9,184,180,189,175,0,42

In [28]:
df.tail(10)

,Player 1 Initial,Player 2 Initial,Player 1 Final,Player 2 Final,Number of tie rounds,Largest Round Total
990,194,170,180,184,1,42
991,175,189,144,220,2,38
992,176,188,135,229,0,40
993,178,186,127,237,0,40
994,196,168,191,173,2,46
995,173,191,170,194,1,43
996,176,188,163,201,0,45
997,181,183,151,213,1,39
998,157,207,58,306,1,44
999,165,199,68,296,2,56

c. Given your DataFrame of simulated game results, let's determine the outcome of each game, based on the final player totals. Add a new column to your DataFrame ('outcome') that contains the value 'Player 1 wins' if Player 1's final total is higher, 'Player 2 wins' if Player 2's final total is higher, or 'Tie game' if the two player's final totals are equal. In addition, add new columns for the winning total ('winning_total') and losing total ('losing_total'), which contain the final totals for the winning and losing players, respectively, and missing values (NumPy.nan) for tie games. (2 points)

In [61]:
df['outcome'] = np.nan
df['winning_total'] = np.nan
df['losing_total'] = np.nan

mask1 = df['Player 1 Final'] > df['Player 2 Final']
mask2 = df['Player 2 Final'] > df['Player 1 Final']
mask3 = df['Player 1 Final'] == df['Player 2 Final']
         
df.loc[mask1,'outcome'] = 'Player 1 wins'
df.loc[mask2,'outcome'] = 'Player 2 wins'
df.loc[mask3,'outcome'] = 'Tie game'

In [62]:
df.loc[mask1, 'winning_total'] = df['Player 1 Final']
df.loc[mask2, 'winning_total'] = df['Player 2 Final']

In [63]:
df.loc[mask1, 'losing_total'] = df['Player 2 Final']
df.loc[mask2, 'losing_total'] = df['Player 1 Final']

Preview the first 10 rows of your modified DataFrame.

In [64]:
df.head(10)

,Player 1 Initial,Player 2 Initial,Player 1 Final,Player 2 Final,Number of tie rounds,Largest Round Total,outcome,winning_total,losing_total
0,200,164,276,88,1,42,Player 1 wins,276.0,88.0
1,179,185,184,180,1,41,Player 1 wins,184.0,180.0
2,183,181,137,227,1,42,Player 2 wins,227.0,137.0
3,189,175,218,146,1,38,Player 1 wins,218.0,146.0
4,188,176,250,114,0,38,Player 1 wins,250.0,114.0
5,161,203,78,286,1,43,Player 2 wins,286.0,78.0
6,168,196,101,263,0,37,Player 2 wins,263.0,101.0
7,180,184,191,173,1,37,Player 1 wins,191.0,173.0
8,170,194,170,194,1,41,Player 2 wins,194.0,170.0
9,184,180,189,175,0,42,Player 1 wins,189.0,175.0

Then, summarize the frequency of the three outcomes and display the rows in your DataFrame that contain the 'Tie game' outcomes.

In [65]:
for k in df['outcome'].unique() :
    print(k,':',len(df['outcome'][df['outcome']==k]))

Player 1 wins : 499
Player 2 wins : 485
Tie game : 16

In [66]:
df[df['outcome']=='Tie game']

,Player 1 Initial,Player 2 Initial,Player 1 Final,Player 2 Final,Number of tie rounds,Largest Round Total,outcome,winning_total,losing_total
62,180,184,182,182,0,39,Tie game,NaN,NaN
68,178,186,182,182,2,35,Tie game,NaN,NaN
146,181,183,182,182,0,41,Tie game,NaN,NaN
150,193,171,182,182,1,40,Tie game,NaN,NaN
256,184,180,182,182,0,45,Tie game,NaN,NaN
329,188,176,182,182,0,44,Tie game,NaN,NaN
360,179,185,182,182,0,38,Tie game,NaN,NaN
381,181,183,182,182,0,40,Tie game,NaN,NaN
387,182,182,182,182,0,38,Tie game,NaN,NaN
398,190,174,182,182,3,36,Tie game,NaN,NaN
554,191,173,182,182,0,37,Tie game,NaN,NaN
703,169,195,182,182,0,40,Tie game,NaN,NaN
751,182,182,182,182,1,38,Tie game,NaN,NaN
825,165,199,182,182,0,38,Tie game,NaN,NaN
856,177,187,182,182,0,34,Tie game,NaN,NaN
893,185,179,182,182,1,37,Tie game,NaN,NaN

Finally, produce descriptive statistics (e.g., minimum, mean, standard deviation, maximum) for your winning total column, and display the rows in your DataFrame that contain the top 10 winning totals.

In [67]:
df['winning_total'].describe()

count    984.000000
mean     225.771341
std       32.262869
min      183.000000
25%      198.750000
50%      220.000000
75%      247.000000
max      335.000000
Name: winning_total, dtype: float64

In [68]:
df.sort_values(by='winning_total', ascending=False).head(10)

,Player 1 Initial,Player 2 Initial,Player 1 Final,Player 2 Final,Number of tie rounds,Largest Round Total,outcome,winning_total,losing_total
537,166,198,29,335,2,52,Player 2 wins,335.0,29.0
254,214,150,331,33,1,39,Player 1 wins,331.0,33.0
909,138,226,35,329,2,39,Player 2 wins,329.0,35.0
251,202,162,324,40,0,43,Player 1 wins,324.0,40.0
433,209,155,324,40,0,42,Player 1 wins,324.0,40.0
916,149,215,42,322,1,37,Player 2 wins,322.0,42.0
802,219,145,321,43,1,45,Player 1 wins,321.0,43.0
163,148,216,45,319,0,40,Player 2 wins,319.0,45.0
403,218,146,317,47,2,41,Player 1 wins,317.0,47.0
463,205,159,317,47,1,38,Player 1 wins,317.0,47.0

d. Given your DataFrame of simulated game results, calculate the frequency of the number of ties within each game (i.e., the number of rounds in which a tie occurs).

In [69]:
df['Number of tie rounds'].value_counts()

0    508
1    349
2    111
3     27
4      5
Name: Number of tie rounds, dtype: int64

Then, calculate the mean maximum round total as a function of the number of ties. What do you observe about the relationship between the number of ties and the mean maximum round total?

In [70]:
np.sort(df['Number of tie rounds'].unique())

array([0, 1, 2, 3, 4], dtype=int64)

In [71]:
for j in np.sort(df['Number of tie rounds'].unique()) :
    print(j, df['Largest Round Total'][df['Number of tie rounds']==j].mean())

0 40.50590551181102
1 40.53008595988538
2 43.77477477477478
3 47.148148148148145
4 78.4

The mean maximum round total increases with the number of ties as we see above.