### Exercise #1

Each year, Inc.--an entrepreneurial-oriented media entity--publishes it's Inc. 5000 List, highlighting the fasting growing startups in the U.S. Attached is a .csv file of the list for 2017. Download the file and perform the following tasks related to data input/output and wrangling.

a. Import the Inc. 5000 data using basic file input techniques (i.e., either via open(filename) or the csv module). Create a dictionary (inc100) that contains the top 100 companies according to the rank (note that the rank is determine based on the growth of the companies revenues from the previous year), using the rank as the key. For each company (rank) in the dictionary, the value should be a dictionary containing the following (populated) fields:

'name': Company name (company)
'founded': Founding date (founded)
'industry': Industry (industry)
'metro': Metropolitan area of company location (metro)
'workers': Number of employees (workers)
Display (print) your full dictionary object and also demonstrate the ability to select specific companies from the dictionary according to their rank (at least two examples).

In [29]:
import csv
import numpy as np
import pandas as pd

In [31]:
path = 'F:/MS in Business Analytics/Spring/Python/Data Files/'
fh = open(path + 'inc5000_2017.csv')
reader = csv.reader(fh)
rank = 0
inc100 = {}
for line in reader :
    if rank == 0 :
        rank += 1
        continue
    elif rank <= 100 :
        inc100[rank] = {'name':line[-1], 'founded':line[-2], 'industry':line[6], 'metro':line[3], 'workers':line[5]}
        rank += 1   
inc100

{1: {'name': 'Skillz',
  'founded': '2012-01-01',
  'industry': 'Software',
  'metro': 'San Francisco',
  'workers': '58'},
 2: {'name': 'EnviroSolar Power',
  'founded': '2012-01-01',
  'industry': 'Energy',
  'metro': 'Dallas',
  'workers': '85'},
 3: {'name': 'Gametime',
  'founded': '2013-01-01',
  'industry': 'Consumer Products & Services',
  'metro': 'San Francisco',
  'workers': '75'},
 4: {'name': 'Club Pilates Franchise',
  'founded': '2007-01-01',
  'industry': 'Consumer Products & Services',
  'metro': 'Los Angeles',
  'workers': '55'},
 5: {'name': 'Halo Top Creamery',
  'founded': '2012-01-01',
  'industry': 'Food & Beverage',
  'metro': 'Los Angeles',
  'workers': '10'},
 6: {'name': 'Small Business Owners of America',
  'founded': '2011-01-01',
  'industry': 'Financial Services',
  'metro': 'Columbus, OH',
  'workers': '15'},
 7: {'name': 'AutomotiveMastermind',
  'founded': '2012-01-01',
  'industry': 'Software',
  'metro': 'New York City',
  'workers': '102'},
 8: {'name': 'Liftoff',
  'founded': '2012-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'San Jose',
  'workers': '85'},
 9: {'name': 'Greenspire',
  'founded': '2012-01-01',
  'industry': 'Energy',
  'metro': 'Los Angeles',
  'workers': '150'},
 10: {'name': 'FormulaFolio Investments',
  'founded': '2011-01-01',
  'industry': 'Financial Services',
  'metro': 'Grand Rapids-Wyoming, MI',
  'workers': '43'},
 11: {'name': 'Single Serve Beverage Distribution',
  'founded': '2012-01-01',
  'industry': 'Food & Beverage',
  'metro': 'New York City',
  'workers': '30'},
 12: {'name': 'ShipHawk',
  'founded': '2012-01-01',
  'industry': 'Logistics & Transportation',
  'metro': 'Santa Maria-Santa Barbara, CA',
  'workers': '23'},
 13: {'name': 'Adva-Net',
  'founded': '2012-01-01',
  'industry': 'Health',
  'metro': 'North Port-Sarasota-Bradenton, FL',
  'workers': '26'},
 14: {'name': 'DashBid',
  'founded': '2010-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'New York City',
  'workers': '28'},
 15: {'name': 'Forward Financing',
  'founded': '2012-01-01',
  'industry': 'Financial Services',
  'metro': 'Boston',
  'workers': '60'},
 16: {'name': 'Solera Specialty Pharmacy',
  'founded': '2012-01-01',
  'industry': 'Health',
  'metro': 'Miami',
  'workers': '22'},
 17: {'name': 'Strike Social',
  'founded': '2013-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'Chicago',
  'workers': '100'},
 18: {'name': 'Reverb.com',
  'founded': '2012-01-01',
  'industry': 'Retail',
  'metro': 'Chicago',
  'workers': '116'},
 19: {'name': 'Excel Impact',
  'founded': '2013-01-01',
  'industry': 'Insurance',
  'metro': 'Cleveland',
  'workers': '6'},
 20: {'name': 'DGC International',
  'founded': '2010-01-01',
  'industry': 'Government Services',
  'metro': 'Washington, DC',
  'workers': '10'},
 21: {'name': 'Shofur',
  'founded': '2013-01-01',
  'industry': 'Logistics & Transportation',
  'metro': 'Atlanta',
  'workers': '14'},
 22: {'name': 'GrowthPlay',
  'founded': '2013-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Chicago',
  'workers': '140'},
 23: {'name': 'CalCom Solar',
  'founded': '2012-01-01',
  'industry': 'Energy',
  'metro': 'Visalia-Porterville, CA',
  'workers': '59'},
 24: {'name': 'ION Solar',
  'founded': '2013-01-01',
  'industry': 'Energy',
  'metro': 'Provo-Orem, UT',
  'workers': '476'},
 25: {'name': 'The Penny Hoarder',
  'founded': '2010-01-01',
  'industry': 'Media',
  'metro': 'Tampa',
  'workers': '49'},
 26: {'name': 'Matterport',
  'founded': '2011-01-01',
  'industry': 'Media',
  'metro': 'San Jose',
  'workers': '174'},
 27: {'name': 'Legend Solar',
  'founded': '2011-01-01',
  'industry': 'Energy',
  'metro': 'St. George, UT',
  'workers': '102'},
 28: {'name': 'SaviLinx',
  'founded': '2013-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Portland-South Portland, ME',
  'workers': '338'},
 29: {'name': 'TechAnax',
  'founded': '2012-01-01',
  'industry': 'Government Services',
  'metro': 'Washington, DC',
  'workers': '12'},
 30: {'name': 'Spar Information Systems',
  'founded': '2012-01-01',
  'industry': 'IT Services',
  'metro': 'Dallas',
  'workers': '400'},
 31: {'name': 'Big Block Realty',
  'founded': '2012-01-01',
  'industry': 'Real Estate',
  'metro': 'San Diego',
  'workers': '12'},
 32: {'name': 'RelationEdge',
  'founded': '2013-01-01',
  'industry': 'Business Products & Services',
  'metro': 'San Diego',
  'workers': '69'},
 33: {'name': 'Globalization Partners',
  'founded': '2012-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Boston',
  'workers': '32'},
 34: {'name': 'Carvana',
  'founded': '2013-01-01',
  'industry': 'Retail',
  'metro': 'Phoenix',
  'workers': '1069'},
 35: {'name': 'Axe Wellness',
  'founded': '2009-01-01',
  'industry': 'Health',
  'metro': 'Nashville',
  'workers': '60'},
 36: {'name': 'Interactive Government Holdings',
  'founded': '2006-01-01',
  'industry': 'Government Services',
  'metro': 'Washington, DC',
  'workers': '150'},
 37: {'name': 'Bay State Search',
  'founded': '2013-01-01',
  'industry': 'Human Resources',
  'metro': 'Boston',
  'workers': '250'},
 38: {'name': 'Enhanced Veterans Solutions',
  'founded': '2007-01-01',
  'industry': 'Government Services',
  'metro': 'Washington, DC',
  'workers': '68'},
 39: {'name': 'Dealer Inspire',
  'founded': '2012-01-01',
  'industry': 'Software',
  'metro': 'Chicago',
  'workers': '130'},
 40: {'name': "Na Ali'i Consulting and Sales",
  'founded': '2003-01-01',
  'industry': 'Government Services',
  'metro': 'Urban Honolulu, HI',
  'workers': '98'},
 41: {'name': 'Dyla',
  'founded': '2012-01-01',
  'industry': 'Food & Beverage',
  'metro': 'New York City',
  'workers': '15'},
 42: {'name': 'BlackRock Construction',
  'founded': '2012-01-01',
  'industry': 'Construction',
  'metro': 'Burlington-South Burlington, VT',
  'workers': '10'},
 43: {'name': 'MM.LaFleur',
  'founded': '2013-01-01',
  'industry': 'Consumer Products & Services',
  'metro': 'New York City',
  'workers': '175'},
 44: {'name': 'Lever1',
  'founded': '2012-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Kansas City, MO-KS',
  'workers': '16'},
 45: {'name': 'TrackR',
  'founded': '2009-01-01',
  'industry': 'Consumer Products & Services',
  'metro': 'Santa Maria-Santa Barbara, CA',
  'workers': '59'},
 46: {'name': 'ByteCubed',
  'founded': '2011-01-01',
  'industry': 'IT Services',
  'metro': 'Washington, DC',
  'workers': '120'},
 47: {'name': 'Avant',
  'founded': '2012-01-01',
  'industry': 'Financial Services',
  'metro': 'Chicago',
  'workers': '468'},
 48: {'name': 'iBenzer',
  'founded': '2012-01-01',
  'industry': 'Consumer Products & Services',
  'metro': 'New York City',
  'workers': '20'},
 49: {'name': 'Boost Marketing Group',
  'founded': '2012-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'Grand Rapids-Wyoming, MI',
  'workers': '6'},
 50: {'name': 'FedBiz IT Solutions',
  'founded': '2011-01-01',
  'industry': 'Government Services',
  'metro': 'Washington, DC',
  'workers': '12'},
 51: {'name': 'BASX Solutions',
  'founded': '2012-01-01',
  'industry': 'Manufacturing',
  'metro': 'Bend-Redmond, OR',
  'workers': '160'},
 52: {'name': 'Discount Power Texas',
  'founded': '2009-01-01',
  'industry': 'Energy',
  'metro': 'Houston',
  'workers': '37'},
 53: {'name': 'Lauren James Enterprises',
  'founded': '2013-01-01',
  'industry': 'Retail',
  'metro': 'Fayetteville-Springdale-Rogers, AR-MO',
  'workers': '100'},
 54: {'name': 'Boomsourcing',
  'founded': '2007-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Provo-Orem, UT',
  'workers': '385'},
 55: {'name': 'ClearView',
  'founded': '2013-01-01',
  'industry': 'Software',
  'metro': 'Madison, WI',
  'workers': '37'},
 56: {'name': 'Samba TV',
  'founded': '2008-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'San Francisco',
  'workers': '165'},
 57: {'name': 'Thought Logic Consulting',
  'founded': '2013-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Atlanta',
  'workers': '38'},
 58: {'name': "Chef's Cut Real Jerky",
  'founded': '2009-01-01',
  'industry': 'Food & Beverage',
  'metro': 'New York City',
  'workers': '30'},
 59: {'name': 'InfoScout',
  'founded': '2011-01-01',
  'industry': 'Business Products & Services',
  'metro': 'San Francisco',
  'workers': '89'},
 60: {'name': 'Infusion Express',
  'founded': '2013-01-01',
  'industry': 'Health',
  'metro': 'Kansas City, MO-KS',
  'workers': '34'},
 61: {'name': "Givington's",
  'founded': '2012-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Fayetteville-Springdale-Rogers, AR-MO',
  'workers': '19'},
 62: {'name': 'Allego',
  'founded': '2013-01-01',
  'industry': 'Software',
  'metro': 'Boston',
  'workers': '39'},
 63: {'name': 'The Air Travel Group',
  'founded': '2013-01-01',
  'industry': 'Travel & Hospitality',
  'metro': 'Orlando, FL',
  'workers': '15'},
 64: {'name': 'Associated Veterans',
  'founded': '2007-01-01',
  'industry': 'Government Services',
  'metro': 'Washington, DC',
  'workers': '49'},
 65: {'name': 'PANTHERx Specialty Pharmacy',
  'founded': '2011-01-01',
  'industry': 'Health',
  'metro': 'Pittsburgh, PA',
  'workers': '80'},
 66: {'name': 'Gimbal',
  'founded': '2012-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'Los Angeles',
  'workers': '88'},
 67: {'name': 'Momentum Solar',
  'founded': '2009-01-01',
  'industry': 'Energy',
  'metro': 'New York City',
  'workers': '396'},
 68: {'name': 'Symbia Logistics',
  'founded': '2007-01-01',
  'industry': 'Logistics & Transportation',
  'metro': 'Edwards, CO',
  'workers': '250'},
 69: {'name': 'Inspire Medical Systems',
  'founded': '2007-01-01',
  'industry': 'Health',
  'metro': 'Minneapolis',
  'workers': '81'},
 70: {'name': 'RightDirection Technology Solutions',
  'founded': '2007-01-01',
  'industry': 'Government Services',
  'metro': 'Baltimore',
  'workers': '88'},
 71: {'name': 'TFM Truckload',
  'founded': '2011-01-01',
  'industry': 'Logistics & Transportation',
  'metro': 'Pittsburgh, PA',
  'workers': '38'},
 72: {'name': 'S2 Capital',
  'founded': '2012-01-01',
  'industry': 'Real Estate',
  'metro': 'Dallas',
  'workers': '150'},
 73: {'name': 'Greentek Energy Systems',
  'founded': '2011-01-01',
  'industry': 'Energy',
  'metro': 'Atlanta',
  'workers': '20'},
 74: {'name': 'Oakwood Search',
  'founded': '2012-01-01',
  'industry': 'Human Resources',
  'metro': 'Denver',
  'workers': '16'},
 75: {'name': 'County Fabricators',
  'founded': '2004-01-01',
  'industry': 'Construction',
  'metro': 'New York City',
  'workers': '22'},
 76: {'name': 'ServiceTitan',
  'founded': '2013-01-01',
  'industry': 'Software',
  'metro': 'Los Angeles',
  'workers': '147'},
 77: {'name': 'Agema Technology',
  'founded': '2012-01-01',
  'industry': 'IT Services',
  'metro': 'Los Angeles',
  'workers': '22'},
 78: {'name': 'Linux Academy',
  'founded': '2012-01-01',
  'industry': 'Education',
  'metro': 'Dallas',
  'workers': '67'},
 79: {'name': 'E-file.com',
  'founded': '2011-01-01',
  'industry': 'Consumer Products & Services',
  'metro': 'Jacksonville, FL',
  'workers': '2'},
 80: {'name': 'The Elephant Pants',
  'founded': '2012-01-01',
  'industry': 'Retail',
  'metro': 'New York City',
  'workers': '11'},
 81: {'name': 'Brazi Bites',
  'founded': '2010-01-01',
  'industry': 'Food & Beverage',
  'metro': 'Portland, OR',
  'workers': '5'},
 82: {'name': 'Anovia Payments',
  'founded': '2013-01-01',
  'industry': 'Financial Services',
  'metro': 'Dallas',
  'workers': '50'},
 83: {'name': 'Griffin Funding',
  'founded': '2013-01-01',
  'industry': 'Financial Services',
  'metro': 'San Diego',
  'workers': '24'},
 84: {'name': 'Sun Up Zero Down',
  'founded': '2013-01-01',
  'industry': 'Energy',
  'metro': 'Atlantic City-Hammonton, NJ',
  'workers': '20'},
 85: {'name': 'Nine Line Apparel',
  'founded': '2012-01-01',
  'industry': 'Retail',
  'metro': 'Savannah, GA',
  'workers': '147'},
 86: {'name': 'A. Prentice Ray & Associates',
  'founded': '2005-01-01',
  'industry': 'IT Services',
  'metro': 'Washington, DC',
  'workers': '75'},
 87: {'name': 'Trinity Air Medical',
  'founded': '2012-01-01',
  'industry': 'Logistics & Transportation',
  'metro': 'Phoenix',
  'workers': '35'},
 88: {'name': 'Lexicon Health',
  'founded': '2012-01-01',
  'industry': 'Media',
  'metro': 'San Jose',
  'workers': '11'},
 89: {'name': 'American Business Brokers',
  'founded': '2011-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Salt Lake City',
  'workers': '4'},
 90: {'name': 'Draken International',
  'founded': '2011-01-01',
  'industry': 'Government Services',
  'metro': 'Lakeland-Winter Haven, FL',
  'workers': '150'},
 91: {'name': 'Shapes Secrets',
  'founded': '2013-01-01',
  'industry': 'Retail',
  'metro': 'Miami',
  'workers': '65'},
 92: {'name': 'MKS2',
  'founded': '2008-01-01',
  'industry': 'Government Services',
  'metro': 'Austin',
  'workers': '58'},
 93: {'name': 'Hotel Rehabs',
  'founded': '2010-01-01',
  'industry': 'Construction',
  'metro': 'Chicago',
  'workers': '7'},
 94: {'name': 'Level Office',
  'founded': '2013-01-01',
  'industry': 'Real Estate',
  'metro': 'Chicago',
  'workers': '34'},
 95: {'name': 'Idea Farmer',
  'founded': '2011-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'Los Angeles',
  'workers': '11'},
 96: {'name': 'POWER HOME SOLAR',
  'founded': '2013-01-01',
  'industry': 'Construction',
  'metro': 'Charlotte',
  'workers': '109'},
 97: {'name': 'Harbinger',
  'founded': '2013-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'Washington, DC',
  'workers': '21'},
 98: {'name': 'Regal Service Company',
  'founded': '1975-01-01',
  'industry': 'Construction',
  'metro': 'Urban Honolulu, HI',
  'workers': '30'},
 99: {'name': "S'well",
  'founded': '2010-01-01',
  'industry': 'Retail',
  'metro': 'New York City',
  'workers': '75'},
 100: {'name': 'FabFitFun',
  'founded': '2010-01-01',
  'industry': 'Consumer Products & Services',
  'metro': 'Los Angeles',
  'workers': '73'}}

In [32]:
inc100[1]

{'name': 'Skillz',
 'founded': '2012-01-01',
 'industry': 'Software',
 'metro': 'San Francisco',
 'workers': '58'}

In [33]:
inc100[2]

{'name': 'EnviroSolar Power',
 'founded': '2012-01-01',
 'industry': 'Energy',
 'metro': 'Dallas',
 'workers': '85'}

b. Convert your dictionary directly into a DataFrame. What do you observe about the structure of the resultant DataFrame, and how might you modify your process from part a) to adjust this structure into a more appropriate form?

In [34]:
df = pd.DataFrame(inc100)
df

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
founded,2012-01-01,2012-01-01,2013-01-01,2007-01-01,2012-01-01,2011-01-01,2012-01-01,2012-01-01,2012-01-01,2011-01-01,...,2013-01-01,2008-01-01,2010-01-01,2013-01-01,2011-01-01,2013-01-01,2013-01-01,1975-01-01,2010-01-01,2010-01-01
industry,Software,Energy,Consumer Products & Services,Consumer Products & Services,Food & Beverage,Financial Services,Software,Advertising & Marketing,Energy,Financial Services,...,Retail,Government Services,Construction,Real Estate,Advertising & Marketing,Construction,Advertising & Marketing,Construction,Retail,Consumer Products & Services
metro,San Francisco,Dallas,San Francisco,Los Angeles,Los Angeles,"Columbus, OH",New York City,San Jose,Los Angeles,"Grand Rapids-Wyoming, MI",...,Miami,Austin,Chicago,Chicago,Los Angeles,Charlotte,"Washington, DC","Urban Honolulu, HI",New York City,Los Angeles
name,Skillz,EnviroSolar Power,Gametime,Club Pilates Franchise,Halo Top Creamery,Small Business Owners of America,AutomotiveMastermind,Liftoff,Greenspire,FormulaFolio Investments,...,Shapes Secrets,MKS2,Hotel Rehabs,Level Office,Idea Farmer,POWER HOME SOLAR,Harbinger,Regal Service Company,S'well,FabFitFun
workers,58,85,75,55,10,15,102,85,150,43,...,65,58,7,34,11,109,21,30,75,73

We observe that there are more columns and less rows as opposed to what we usually observe. It's more like a transpose of what we expect in a data frame.

In order to fix this, we should store all the details as lists inside one single dictionary as opposed to nested dictionaries.

c. Based on your answer from part b), revise your import process from part a) so that you can use the dictionary to create a more appropriately formatted DataFrame. Demonstrate your improved process by displaying (printing) your modified dictionary format and previewing the first 10 rows of your resultant DataFrame.

In [35]:
path = 'F:/MS in Business Analytics/Spring/Python/Data Files/'
fh = open(path + 'inc5000_2017.csv')
reader = csv.reader(fh)
rank = 0
inc100 = {'rank':[], 'name':[], 'founded':[], 'industry':[], 'metro':[], 'workers':[]}
for line in reader :
    if rank == 0 :
        rank += 1
        continue
    if rank <= 100 :
        inc100['rank'].append(rank)
        inc100['name'].append(line[-1])
        inc100['founded'].append(line[-2])
        inc100['industry'].append(line[6])
        inc100['metro'].append(line[3])
        inc100['workers'].append(line[5])
        rank += 1   
print(inc100)

{'rank': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100], 'name': ['Skillz', 'EnviroSolar Power', 'Gametime', 'Club Pilates Franchise', 'Halo Top Creamery', 'Small Business Owners of America', 'AutomotiveMastermind', 'Liftoff', 'Greenspire', 'FormulaFolio Investments', 'Single Serve Beverage Distribution', 'ShipHawk', 'Adva-Net', 'DashBid', 'Forward Financing', 'Solera Specialty Pharmacy', 'Strike Social', 'Reverb.com', 'Excel Impact', 'DGC International', 'Shofur', 'GrowthPlay', 'CalCom Solar', 'ION Solar', 'The Penny Hoarder', 'Matterport', 'Legend Solar', 'SaviLinx', 'TechAnax', 'Spar Information Systems', 'Big Block Realty', 'RelationEdge', 'Globalization Partners', 'Carvana', 'Axe Wellness', 'Interactive Government Holdings', 'Bay State Search', 'Enhanced Veterans Solutions', 'Dealer Inspire', "Na Ali'i Consulting and Sales", 'Dyla', 'BlackRock Construction', 'MM.LaFleur', 'Lever1', 'TrackR', 'ByteCubed', 'Avant', 'iBenzer', 'Boost Marketing Group', 'FedBiz IT Solutions', 'BASX Solutions', 'Discount Power Texas', 'Lauren James Enterprises', 'Boomsourcing', 'ClearView', 'Samba TV', 'Thought Logic Consulting', "Chef's Cut Real Jerky", 'InfoScout', 'Infusion Express', "Givington's", 'Allego', 'The Air Travel Group', 'Associated Veterans', 'PANTHERx Specialty Pharmacy', 'Gimbal', 'Momentum Solar', 'Symbia Logistics', 'Inspire Medical Systems', 'RightDirection Technology Solutions', 'TFM Truckload', 'S2 Capital', 'Greentek Energy Systems', 'Oakwood Search', 'County Fabricators', 'ServiceTitan', 'Agema Technology', 'Linux Academy', 'E-file.com', 'The Elephant Pants', 'Brazi Bites', 'Anovia Payments', 'Griffin Funding', 'Sun Up Zero Down', 'Nine Line Apparel', 'A. Prentice Ray & Associates', 'Trinity Air Medical', 'Lexicon Health', 'American Business Brokers', 'Draken International', 'Shapes Secrets', 'MKS2', 'Hotel Rehabs', 'Level Office', 'Idea Farmer', 'POWER HOME SOLAR', 'Harbinger', 'Regal Service Company', "S'well", 'FabFitFun'], 'founded': ['2012-01-01', '2012-01-01', '2013-01-01', '2007-01-01', '2012-01-01', '2011-01-01', '2012-01-01', '2012-01-01', '2012-01-01', '2011-01-01', '2012-01-01', '2012-01-01', '2012-01-01', '2010-01-01', '2012-01-01', '2012-01-01', '2013-01-01', '2012-01-01', '2013-01-01', '2010-01-01', '2013-01-01', '2013-01-01', '2012-01-01', '2013-01-01', '2010-01-01', '2011-01-01', '2011-01-01', '2013-01-01', '2012-01-01', '2012-01-01', '2012-01-01', '2013-01-01', '2012-01-01', '2013-01-01', '2009-01-01', '2006-01-01', '2013-01-01', '2007-01-01', '2012-01-01', '2003-01-01', '2012-01-01', '2012-01-01', '2013-01-01', '2012-01-01', '2009-01-01', '2011-01-01', '2012-01-01', '2012-01-01', '2012-01-01', '2011-01-01', '2012-01-01', '2009-01-01', '2013-01-01', '2007-01-01', '2013-01-01', '2008-01-01', '2013-01-01', '2009-01-01', '2011-01-01', '2013-01-01', '2012-01-01', '2013-01-01', '2013-01-01', '2007-01-01', '2011-01-01', '2012-01-01', '2009-01-01', '2007-01-01', '2007-01-01', '2007-01-01', '2011-01-01', '2012-01-01', '2011-01-01', '2012-01-01', '2004-01-01', '2013-01-01', '2012-01-01', '2012-01-01', '2011-01-01', '2012-01-01', '2010-01-01', '2013-01-01', '2013-01-01', '2013-01-01', '2012-01-01', '2005-01-01', '2012-01-01', '2012-01-01', '2011-01-01', '2011-01-01', '2013-01-01', '2008-01-01', '2010-01-01', '2013-01-01', '2011-01-01', '2013-01-01', '2013-01-01', '1975-01-01', '2010-01-01', '2010-01-01'], 'industry': ['Software', 'Energy', 'Consumer Products & Services', 'Consumer Products & Services', 'Food & Beverage', 'Financial Services', 'Software', 'Advertising & Marketing', 'Energy', 'Financial Services', 'Food & Beverage', 'Logistics & Transportation', 'Health', 'Advertising & Marketing', 'Financial Services', 'Health', 'Advertising & Marketing', 'Retail', 'Insurance', 'Government Services', 'Logistics & Transportation', 'Business Products & Services', 'Energy', 'Energy', 'Media', 'Media', 'Energy', 'Business Products & Services', 'Government Services', 'IT Services', 'Real Estate', 'Business Products & Services', 'Business Products & Services', 'Retail', 'Health', 'Government Services', 'Human Resources', 'Government Services', 'Software', 'Government Services', 'Food & Beverage', 'Construction', 'Consumer Products & Services', 'Business Products & Services', 'Consumer Products & Services', 'IT Services', 'Financial Services', 'Consumer Products & Services', 'Advertising & Marketing', 'Government Services', 'Manufacturing', 'Energy', 'Retail', 'Business Products & Services', 'Software', 'Advertising & Marketing', 'Business Products & Services', 'Food & Beverage', 'Business Products & Services', 'Health', 'Business Products & Services', 'Software', 'Travel & Hospitality', 'Government Services', 'Health', 'Advertising & Marketing', 'Energy', 'Logistics & Transportation', 'Health', 'Government Services', 'Logistics & Transportation', 'Real Estate', 'Energy', 'Human Resources', 'Construction', 'Software', 'IT Services', 'Education', 'Consumer Products & Services', 'Retail', 'Food & Beverage', 'Financial Services', 'Financial Services', 'Energy', 'Retail', 'IT Services', 'Logistics & Transportation', 'Media', 'Business Products & Services', 'Government Services', 'Retail', 'Government Services', 'Construction', 'Real Estate', 'Advertising & Marketing', 'Construction', 'Advertising & Marketing', 'Construction', 'Retail', 'Consumer Products & Services'], 'metro': ['San Francisco', 'Dallas', 'San Francisco', 'Los Angeles', 'Los Angeles', 'Columbus, OH', 'New York City', 'San Jose', 'Los Angeles', 'Grand Rapids-Wyoming, MI', 'New York City', 'Santa Maria-Santa Barbara, CA', 'North Port-Sarasota-Bradenton, FL', 'New York City', 'Boston', 'Miami', 'Chicago', 'Chicago', 'Cleveland', 'Washington, DC', 'Atlanta', 'Chicago', 'Visalia-Porterville, CA', 'Provo-Orem, UT', 'Tampa', 'San Jose', 'St. George, UT', 'Portland-South Portland, ME', 'Washington, DC', 'Dallas', 'San Diego', 'San Diego', 'Boston', 'Phoenix', 'Nashville', 'Washington, DC', 'Boston', 'Washington, DC', 'Chicago', 'Urban Honolulu, HI', 'New York City', 'Burlington-South Burlington, VT', 'New York City', 'Kansas City, MO-KS', 'Santa Maria-Santa Barbara, CA', 'Washington, DC', 'Chicago', 'New York City', 'Grand Rapids-Wyoming, MI', 'Washington, DC', 'Bend-Redmond, OR', 'Houston', 'Fayetteville-Springdale-Rogers, AR-MO', 'Provo-Orem, UT', 'Madison, WI', 'San Francisco', 'Atlanta', 'New York City', 'San Francisco', 'Kansas City, MO-KS', 'Fayetteville-Springdale-Rogers, AR-MO', 'Boston', 'Orlando, FL', 'Washington, DC', 'Pittsburgh, PA', 'Los Angeles', 'New York City', 'Edwards, CO', 'Minneapolis', 'Baltimore', 'Pittsburgh, PA', 'Dallas', 'Atlanta', 'Denver', 'New York City', 'Los Angeles', 'Los Angeles', 'Dallas', 'Jacksonville, FL', 'New York City', 'Portland, OR', 'Dallas', 'San Diego', 'Atlantic City-Hammonton, NJ', 'Savannah, GA', 'Washington, DC', 'Phoenix', 'San Jose', 'Salt Lake City', 'Lakeland-Winter Haven, FL', 'Miami', 'Austin', 'Chicago', 'Chicago', 'Los Angeles', 'Charlotte', 'Washington, DC', 'Urban Honolulu, HI', 'New York City', 'Los Angeles'], 'workers': ['58', '85', '75', '55', '10', '15', '102', '85', '150', '43', '30', '23', '26', '28', '60', '22', '100', '116', '6', '10', '14', '140', '59', '476', '49', '174', '102', '338', '12', '400', '12', '69', '32', '1069', '60', '150', '250', '68', '130', '98', '15', '10', '175', '16', '59', '120', '468', '20', '6', '12', '160', '37', '100', '385', '37', '165', '38', '30', '89', '34', '19', '39', '15', '49', '80', '88', '396', '250', '81', '88', '38', '150', '20', '16', '22', '147', '22', '67', '2', '11', '5', '50', '24', '20', '147', '75', '35', '11', '4', '150', '65', '58', '7', '34', '11', '109', '21', '30', '75', '73']}

In [36]:
df = pd.DataFrame(inc100)
df.set_index('rank', inplace=True)
df.head(10)

,name,founded,industry,metro,workers
rank,,,,,
1,Skillz,2012-01-01,Software,San Francisco,58
2,EnviroSolar Power,2012-01-01,Energy,Dallas,85
3,Gametime,2013-01-01,Consumer Products & Services,San Francisco,75
4,Club Pilates Franchise,2007-01-01,Consumer Products & Services,Los Angeles,55
5,Halo Top Creamery,2012-01-01,Food & Beverage,Los Angeles,10
6,Small Business Owners of America,2011-01-01,Financial Services,"Columbus, OH",15
7,AutomotiveMastermind,2012-01-01,Software,New York City,102
8,Liftoff,2012-01-01,Advertising & Marketing,San Jose,85
9,Greenspire,2012-01-01,Energy,Los Angeles,150
10,FormulaFolio Investments,2011-01-01,Financial Services,"Grand Rapids-Wyoming, MI",43

d. Import the full Inc. 5000 data directly into a DataFrame using an appropriate method, specifying the rank column as the index column. Preview the top 10 fastest growing companies in the data set. After previewing the data, you may notice that the order of the columns is probably not ideal for easily reading the data. For example, the name of the company is in the last column, which should probably be listed first. Reorder the columns of the DataFrame in the following order:

company
founded
leadership
industry
workers
city
metro
state_s
website

Note that you should drop the state_l, url, and id columns. Again, preview the top 10 ranked companies.

In [37]:
df = pd.read_csv(path + 'inc5000_2017.csv', index_col = 'rank')
df.head(10)

,state_l,state_s,city,metro,workers,industry,url,website,id,leadership,founded,company
rank,,,,,,,,,,,,
1,California,CA,San Francisco,San Francisco,58,Software,skillz,http://skillz.com,70866,Andrew Paradise,2012-01-01,Skillz
2,Texas,TX,Fort Worth,Dallas,85,Energy,envirosolar-power,http://envirosolarpower.com,70871,Abraham Issa,2012-01-01,EnviroSolar Power
3,California,CA,San Francisco,San Francisco,75,Consumer Products & Services,gametime,http://gametime.co,70876,Brad Griffith,2013-01-01,Gametime
4,California,CA,Costa Mesa,Los Angeles,55,Consumer Products & Services,club-pilates-franchise,http://clubpilates.com,70881,Anthony Geisler,2007-01-01,Club Pilates Franchise
5,California,CA,Los Angeles,Los Angeles,10,Food & Beverage,halo-top-creamery,http://halotop.com,70886,Justin Woolverton,2012-01-01,Halo Top Creamery
6,Ohio,OH,Columbus,"Columbus, OH",15,Financial Services,small-business-owners-of-america,http://sbooa.com,42948,James Moore,2011-01-01,Small Business Owners of America
7,New York,NY,New York City,New York City,102,Software,automotivemastermind,http://automotivemastermind.com,70891,Marco Schnabl,2012-01-01,AutomotiveMastermind
8,California,CA,Palo Alto,San Jose,85,Advertising & Marketing,liftoff,http://liftoff.io,68611,Mark Ellis,2012-01-01,Liftoff
9,California,CA,Los Angeles,Los Angeles,150,Energy,greenspire,http://greenspirehome.com,42999,David Murray,2012-01-01,Greenspire
10,Michigan,MI,Grand Rapids,"Grand Rapids-Wyoming, MI",43,Financial Services,formulafolio-investments,http://formulafolios.com,37197,Jason Wenk,2011-01-01,FormulaFolio Investments

In [38]:
new_order = ['company','founded','leadership','industry','workers','city','metro','state_s','website']
df = df[new_order]
df.head(10)

,company,founded,leadership,industry,workers,city,metro,state_s,website
rank,,,,,,,,,
1,Skillz,2012-01-01,Andrew Paradise,Software,58,San Francisco,San Francisco,CA,http://skillz.com
2,EnviroSolar Power,2012-01-01,Abraham Issa,Energy,85,Fort Worth,Dallas,TX,http://envirosolarpower.com
3,Gametime,2013-01-01,Brad Griffith,Consumer Products & Services,75,San Francisco,San Francisco,CA,http://gametime.co
4,Club Pilates Franchise,2007-01-01,Anthony Geisler,Consumer Products & Services,55,Costa Mesa,Los Angeles,CA,http://clubpilates.com
5,Halo Top Creamery,2012-01-01,Justin Woolverton,Food & Beverage,10,Los Angeles,Los Angeles,CA,http://halotop.com
6,Small Business Owners of America,2011-01-01,James Moore,Financial Services,15,Columbus,"Columbus, OH",OH,http://sbooa.com
7,AutomotiveMastermind,2012-01-01,Marco Schnabl,Software,102,New York City,New York City,NY,http://automotivemastermind.com
8,Liftoff,2012-01-01,Mark Ellis,Advertising & Marketing,85,Palo Alto,San Jose,CA,http://liftoff.io
9,Greenspire,2012-01-01,David Murray,Energy,150,Los Angeles,Los Angeles,CA,http://greenspirehome.com
10,FormulaFolio Investments,2011-01-01,Jason Wenk,Financial Services,43,Grand Rapids,"Grand Rapids-Wyoming, MI",MI,http://formulafolios.com

e. Upon examining the founding date for each company, you may observe that there are a lot of companies that were 'founded' on January 1. Most likely, these companies were not all founded on New Years Day, but rather there is a lack of information regarding the specific day and month when the company was founded. So rather than list a full date, let's reduce the founding date to just the year, which is the most meaningful (and accurate) unit of time in the data. Using a vectorized approach, convert the 'founded' column into an integer value containing just the year of the founding data. Summarize the frequency of companies that were founded in each year, and describe any trends that you observe in the data. You may want to utilize the following statement so that you can display all of the years in your summary:

pd.set_option('display.max_rows', 500)

In [39]:
df['founded'] = df['founded'].astype(str)
df['founded'] = df['founded'].str[:4].astype(int)
df.head()

,company,founded,leadership,industry,workers,city,metro,state_s,website
rank,,,,,,,,,
1,Skillz,2012,Andrew Paradise,Software,58,San Francisco,San Francisco,CA,http://skillz.com
2,EnviroSolar Power,2012,Abraham Issa,Energy,85,Fort Worth,Dallas,TX,http://envirosolarpower.com
3,Gametime,2013,Brad Griffith,Consumer Products & Services,75,San Francisco,San Francisco,CA,http://gametime.co
4,Club Pilates Franchise,2007,Anthony Geisler,Consumer Products & Services,55,Costa Mesa,Los Angeles,CA,http://clubpilates.com
5,Halo Top Creamery,2012,Justin Woolverton,Food & Beverage,10,Los Angeles,Los Angeles,CA,http://halotop.com

In [61]:
pd.set_option('display.max_rows', 500)
df['founded'].value_counts()

2009    445
2012    405
2011    400
2010    390
2008    361
2007    323
2006    245
2005    236
2003    223
2004    217
2001    194
2013    172
2002    165
1999    142
2000    132
1998     97
1997     92
1996     87
1995     60
1994     55
1993     43
1986     41
1992     40
1991     38
1990     34
1989     33
1987     30
1988     25
1983     24
1985     22
1984     19
1982     17
1976     16
1979     14
1981     13
1980     13
1975     10
1978     10
1970      8
1972      8
1977      8
1965      6
1959      5
1956      5
1967      4
1946      4
1964      4
1945      4
1953      3
1960      3
1974      3
1949      3
0         3
1969      3
1948      3
1973      2
1968      2
1951      2
1958      2
1962      2
1947      2
1971      2
1928      1
1908      1
1916      1
1840      1
1952      1
1936      1
1920      1
1895      1
1865      1
1869      1
1950      1
1938      1
1914      1
1902      1
1890      1
1915      1
1919      1
1923      1
1963      1
1961      1
1941      1
1937      1
1929      1
1925      1
1921      1
1897      1
1873      1
1933      1
Name: founded, dtype: int64

We can see that the number of startups have been increasing with time and in particular from the year 2000, it's more than a 100 companies each year.

f. Discretize the number of workers for each company into reasonable categories based on the distribution in the data set. Summarize the frequency of these discretized categories and comment on the size of companies on the Inc. 5000 list.

In [41]:
bins = np.linspace(start=0, stop=5000, num=11)
bins

array([   0.,  500., 1000., 1500., 2000., 2500., 3000., 3500., 4000.,
       4500., 5000.])

In [42]:
pd.cut(df['workers'], bins).value_counts()

(0.0, 500.0]        4666
(500.0, 1000.0]      187
(1000.0, 1500.0]      48
(1500.0, 2000.0]      23
(2000.0, 2500.0]      15
(2500.0, 3000.0]      11
(3500.0, 4000.0]      10
(3000.0, 3500.0]       6
(4500.0, 5000.0]       5
(4000.0, 4500.0]       4
Name: workers, dtype: int64

In [63]:
pd.qcut(df['workers'], 10).value_counts().sort_index()

(-0.001, 12.0]       502
(12.0, 20.0]         597
(20.0, 27.0]         435
(27.0, 36.0]         501
(36.0, 49.0]         472
(49.0, 70.0]         519
(70.0, 100.7]        475
(100.7, 160.0]       502
(160.0, 350.0]       510
(350.0, 140000.0]    489
Name: workers, dtype: int64

From both the above distributions we can clearly see that most of companies in inc5000 have workers less than 500 precisely less than 350.

g.  Summarize the frequency of companies in the data set according to the city where they operate. Print the top 20 cities that are incubators for startup companies. What observations can you make about these areas, and what recommendations would you make about where new startups should locate?

In [44]:
df['city'].value_counts()

New York City        163
Chicago              107
Atlanta              107
Houston               85
Austin                83
San Diego             70
Dallas                56
San Francisco         54
Portland              47
Denver                45
Irvine                44
Tampa                 43
Seattle               43
Washington            42
Los Angeles           42
Boston                41
Phoenix               40
Orlando               36
Indianapolis          30
McLean                30
Arlington             28
Alpharetta            27
Columbus              27
Charlotte             27
Minneapolis           26
Philadelphia          26
Salt Lake City        25
Nashville             25
Cincinnati            25
Scottsdale            25
Alexandria            24
Plano                 24
Huntsville            24
Miami                 23
Brooklyn              23
Louisville            21
Columbia              21
Herndon               21
Las Vegas             20
Reston                20
Bellevue              20
Richmond              19
Omaha                 18
St. Louis             18
San Antonio           18
Franklin              18
Pittsburgh            17
Jacksonville          17
Springfield           17
Raleigh               17
Lehi                  16
New Orleans           16
Virginia Beach        16
Rockville             16
Fort Lauderdale       16
Overland Park         15
Addison               15
Irving                15
Vienna                15
Baltimore             15
Madison               15
Wilmington            14
Santa Monica          14
Englewood             13
Kansas City           13
Newark                13
Roswell               13
Tempe                 13
Rochester             13
Charleston            13
Fort Worth            13
San Jose              12
Greenville            12
Troy                  12
Dublin                12
Boca Raton            11
Chandler              11
Waltham               11
Baton Rouge           11
Sarasota              11
Grand Rapids          11
Pasadena              11
Birmingham            11
Tallahassee           10
Norcross              10
Frisco                10
Stafford              10
Chantilly             10
Fairfax               10
Costa Mesa            10
Anaheim               10
Bloomington           10
King of Prussia        9
Tulsa                  9
Bedford                9
Cleveland              9
Carrollton             9
Sandy                  9
Falls Church           9
Redmond                9
Oklahoma City          9
Farmington Hills       9
Fayetteville           9
Cary                   9
Ashburn                9
Glendale               9
El Segundo             9
Marietta               9
Bethesda               9
Duluth                 9
Memphis                9
Carlsbad               8
Tucson                 8
Santa Ana              8
Clearwater             8
Wichita                8
Mount Pleasant         8
Loveland               8
Leesburg               8
Mesa                   8
Durham                 8
West Chester           8
Asheville              7
Brentwood              7
Doral                  7
Colorado Springs       7
Brookfield             7
Winter Park            7
Eden Prairie           7
Lincoln                7
Stamford               7
Schaumburg             7
Boulder                7
Carmel                 7
Temecula               7
Hollywood              7
Gilbert                7
Lakewood               7
Park City              7
Oakland                7
Beaverton              6
Southfield             6
Plainsboro             6
Aurora                 6
Walnut Creek           6
Annapolis              6
St. Petersburg         6
Lake Forest            6
Draper                 6
Milwaukee              6
Kennesaw               6
San Ramon              6
Woodbridge             6
Newport Beach          6
Lancaster              6
Lexington              6
Fresno                 6
Sunnyvale              6
Grapevine              6
North Charleston       6
Santa Clara            6
Greenbelt              6
Sioux Falls            6
Centennial             6
Naperville             6
Fargo                  6
Provo                  6
Redwood City           6
Plymouth Meeting       6
Saint Louis            6
Fort Myers             6
Princeton              5
Sacramento             5
Fairfield              5
Brunswick              5
Conshohocken           5
Northbrook             5
Sterling               5
Valencia               5
Portsmouth             5
Kirkland               5
Lakeland               5
Allen                  5
Chattanooga            5
Bellingham             5
Johns Creek            5
Glen Allen             5
Burlington             5
Fredericksburg         5
Reno                   5
Hauppauge              5
Delray Beach           5
Independence           5
Rancho Cordova         5
Pompano Beach          5
Greensboro             5
Fort Wayne             5
Vancouver              5
Torrance               5
Calabasas              5
Lafayette              5
Cedar Rapids           5
American Fork          5
Exton                  5
Greenwood Village      5
Broomfield             5
Bend                   5
Woburn                 5
Pleasanton             5
Germantown             4
Des Moines             4
Culver City            4
Saratoga Springs       4
Saint Paul             4
Quincy                 4
Oceanside              4
Westlake Village       4
Sunrise                4
Gaithersburg           4
Escondido              4
South Jordan           4
Camarillo              4
Lynnwood               4
Palo Alto              4
Huntington Beach       4
Gainesville            4
Cordova                4
Livonia                4
Edison                 4
West Palm Beach        4
Buffalo                4
Metairie               4
Knoxville              4
Cypress                4
Wakefield              4
Boise                  4
Deerfield              4
Cherry Hill            4
Winter Garden          4
Elk Grove Village      4
Spartanburg            4
Eagan                  4
Chino Hills            4
Westlake               4
White Plains           4
Chapel Hill            4
Waukesha               4
Hanover                4
Plantation             4
Oak Brook              4
                    ...
Newberry               1
Dunwoody               1
Stuart                 1
Danvers                1
Ponte Vedra Beach      1
North Huntingdon       1
Hickory                1
Key Biscayne           1
Stoneham               1
ST. LOUIS              1
Overland               1
Port Charlotte         1
Freehold               1
Pearl City             1
Paterson               1
Rome                   1
Mckees Rocks           1
Pensacola              1
Ballston Lake          1
Lake in the Hills      1
Newcastle              1
Battlefield            1
Garner                 1
Foxboro                1
Schnecksville          1
Bainbridge             1
Lake Zurich            1
Muskego                1
North Liberty          1
Youngstown             1
Binghamton             1
Jupiter                1
Hattiesburg            1
Opa-locka              1
North Venice           1
Fort Scott             1
Holts Summit           1
Midwest City           1
White                  1
St. Bernard            1
Napa                   1
Hilliard               1
Bergen                 1
Millburn               1
Chelmsford             1
UNION CITY             1
Downey                 1
Berlin                 1
Floral Park            1
Boynton Beach          1
Eugene                 1
Garden Grove           1
Chevy Chase            1
North Fort Myers       1
Fort Pierce            1
Wayland                1
Cedar Falls            1
Woodland HIlls         1
Lake Charles           1
St. Rose               1
Glen Mills             1
Morton Grove           1
Bloomfield Twp         1
Belding                1
Glendale Heights       1
Blue Mounds            1
Winston-Salem          1
Agoura Hills           1
Dos Palos              1
Waynesville            1
Plymouth               1
Weatherford            1
Minooka                1
Harrison               1
Coppell                1
Kennett Square         1
Hudson                 1
Warminster             1
Harriman               1
Millersville           1
Denton                 1
Westfield              1
Greeneville            1
SCOTTSDALE             1
Fleetwood              1
Vista                  1
Nevada City            1
Ventura                1
South Burlington       1
Tewksbury              1
Asbury Park            1
Middleport             1
South Riding           1
Mokena                 1
Farwell                1
San Carlos             1
Jessup                 1
Londonderry            1
Murray                 1
Creedmoor              1
Bainerd                1
Brown Deer             1
Kaysville              1
Pikesville             1
Denham Springs         1
Hillsboro              1
Dickson                1
Homewood               1
Garnet Valley          1
Avon                   1
Pembroke Pines         1
Woodside               1
WESTLAKE               1
Vero Beach             1
Rolling Meadows        1
Granville              1
West Windsor           1
Little River           1
Santa Cruz             1
Land O Lakes           1
Ft Mitchell            1
Bala Cynwyd            1
STILLWATER             1
South Coast Metro      1
Sinking Spring         1
Warner Robins          1
Hanalei                1
Yorktown               1
Carrboro               1
WIMBERLEY              1
Ceres                  1
Hayward                1
Aspen                  1
Saint Charles          1
Anaheim Hills          1
Fallston               1
Holly Springs          1
WEST DES MOINES        1
Martinsburg            1
Countryside            1
Florence               1
Mendota Heights        1
Burley                 1
Staten Island          1
Union                  1
Drexel                 1
Larchmont              1
Mission                1
Earth City             1
Sharon                 1
Dandrige               1
Davis                  1
Biloxi                 1
Effingham              1
SEATTLE                1
Thomasville            1
Vermilion              1
Carneys Point          1
Shaker Heights         1
Stratford              1
TROY                   1
Twin Falls             1
Acworth                1
Mountain View          1
Springdale             1
Modesto                1
White Bear Lake        1
VIRGINIA BEACH         1
Oshkosh                1
Kitty Hawk             1
Litchfield Park        1
Mebane                 1
Linden                 1
Los Alamos             1
Marco Island           1
Barnegat               1
Monrovia               1
Monsey                 1
Frederick              1
Fort Lee               1
Warrington             1
Berkeley Heights       1
WEST VALLEY CITY       1
Mountain               1
Wall                   1
Bay Shore              1
Sun Valley             1
Porter                 1
Arroyo Grande          1
Iselin                 1
Ogden                  1
Kearny                 1
Midlothian             1
Osterville             1
Maynard                1
Seven Hills            1
sterling               1
Peoria                 1
Upper Nyack            1
Dripping Springs       1
Cranford               1
East Norriton          1
Blaine                 1
Shelton                1
Rocky Point            1
Idaho Falls            1
North Riverside        1
Palm Harbor            1
Devault                1
Culver                 1
Rancho Dominguez       1
Davenport              1
Norcrorss              1
Deer Park              1
Newtown Square         1
West Hills             1
Palm Beach             1
Collinsville           1
Bismarck               1
Brownsboro             1
North Bend             1
Belleville             1
Rumson                 1
Livingston             1
Upper Arlington        1
Rochester Hills        1
Chambersburg           1
Mission Viejo          1
Richfield              1
Delano                 1
Oviedo                 1
Parkland               1
Rutherford, Napa       1
Apex                   1
Acton                  1
Mayfield Heights       1
Pleasantville          1
Cinnaminson            1
Warren                 1
Destin                 1
Buhler                 1
Morley                 1
Tinley Park            1
Goleta                 1
west palm beach        1
Branford               1
Temple                 1
Calverton              1
Flushing               1
Michigan City          1
Name: city, Length: 1409, dtype: int64

In [22]:
df['city'].value_counts().head(20)

New York City    163
Chicago          107
Atlanta          107
Houston           85
Austin            83
San Diego         70
Dallas            56
San Francisco     54
Portland          47
Denver            45
Irvine            44
Tampa             43
Seattle           43
Washington        42
Los Angeles       42
Boston            41
Phoenix           40
Orlando           36
Indianapolis      30
McLean            30
Name: city, dtype: int64

All the top 20 incubators for startup companies are the big cities in the United States. So, I recommend that new startups should preferrably locate in these big cities as well.

h.  Explore the types of industries in some of the top 20 cities. Specifically, write a function sum_industry that takes in a DataFrame (df) and a city (default to New York City), and returns the frequency counts of the industry column. Use the function to summarize the industry concentration for New York City, Atlanta, Chicago, and Washington (DC). What observations can you make about the industry concentration in each of these markets?

In [45]:
def sum_industry(df, city='New York City') :
    return df[df['city'] == city]['industry'].value_counts()

In [46]:
sum_industry(df=df, city='New York City')

Advertising & Marketing         41
Business Products & Services    19
IT Services                     17
Human Resources                 12
Health                          10
Consumer Products & Services     9
Software                         8
Financial Services               8
Media                            7
Food & Beverage                  7
Retail                           6
Real Estate                      4
Education                        3
Construction                     3
Travel & Hospitality             3
Insurance                        3
Telecommunications               2
Government Services              1
Name: industry, dtype: int64

In [47]:
sum_industry(df=df, city='Atlanta')

IT Services                     20
Advertising & Marketing         11
Business Products & Services    11
Software                         9
Financial Services               8
Human Resources                  8
Health                           6
Insurance                        4
Consumer Products & Services     4
Logistics & Transportation       4
Real Estate                      3
Food & Beverage                  3
Travel & Hospitality             3
Construction                     3
Retail                           2
Environmental Services           2
Government Services              2
Energy                           1
Security                         1
Telecommunications               1
Engineering                      1
Name: industry, dtype: int64

In [48]:
sum_industry(df=df, city='Chicago')

Advertising & Marketing         17
Business Products & Services    13
IT Services                     11
Real Estate                     11
Software                        10
Financial Services               8
Human Resources                  6
Logistics & Transportation       5
Retail                           5
Consumer Products & Services     5
Health                           4
Energy                           3
Construction                     3
Security                         2
Food & Beverage                  1
Telecommunications               1
Travel & Hospitality             1
Education                        1
Name: industry, dtype: int64

In [49]:
sum_industry(df=df, city='Washington')

Government Services             13
Real Estate                      4
Software                         4
Business Products & Services     4
Advertising & Marketing          4
Consumer Products & Services     3
Energy                           3
Human Resources                  2
IT Services                      2
Financial Services               1
Logistics & Transportation       1
Media                            1
Name: industry, dtype: int64

We can cleary observe that in New York, Atlanta and Chicago, the 3 most dominant industries are Advertising & Marketing, Business Products & Services and IT Services. But in Washington DC although Business Products & Services and Advertising & Marketing are quite dominant, the leading industry is Government Services.